$font-family: "GeneralSans", sans-serif;

$color-white: #fff;
$color-black: #000;

$color-primary: #1b1b1bf5;
$color-secondary: #616161;
$color-subtle: #9e9e9e;
$color-input: #d9e0e4;
$color-separator: #eef0f2;
$color-light: #fafbfb;

$color-toscha-1: #1cb78d;
$color-toscha-2: #55c9a9;
$color-toscha-3: #8ddbc6;
$color-toscha-4: #c6ede3;
$color-toscha-5: #e8f8f4;
$color-toscha-6: #f4fbf9;

$color-navi-1: #052c47;
$color-navi-2: #446175;
$color-navi-3: #8295a3;
$color-navi-4: #c1cad1;
$color-navi-5: #e6eaed;
